<div class="header1">
  <p class='item1'>Home</p>
  <p class='item1'>About</p>
  <p class='item1'>Services</p>
  <p class='item1'>Contacts</p>
</div>
<div class="parent-container">
<div class="container-2">
  <h3>section 1</h3>
  <div class='parent-grid'>
    <label>input1 here</label>
    <input type="text">
  </div>
  <div class='parent-grid'>
    <label>input2</label>
    <input type="text">
  </div>
  <div class='parent-grid'>
  <label>input3</label>
  <input type="text"></div>
</div>
<div class="container-3">
  <h3>section 2</h3>
  <div class='parent-grid'>
    <label>input1</label>
    <input type="text">
  </div>
  <div class='parent-grid'>
    <label>input2</label>
    <input type="text">
  </div>
  <div class='parent-grid'>
  <label>input type 3</label>
  <input type="text"></div>
  <div class='parent-grid'>
    <label>input type 4</label>
    <input type="text"></div>
</div>

<div class="container-4">
  <h3>section 3</h3>
  <div class='parent-grid'>
    <label>input content place 1</label>
    <input type="text">
  </div>
  <div class='parent-grid'>
    <label>input2</label>
    <input type="text">
  </div>
  <div class='parent-grid'>
  <label>input3</label>
  <input type="text"></div>
</div>

<div class="container-5">
  <h3>section 4</h3>
  <div class='parent-grid'>
    <label>input content place 1</label>
    <input type="text">
  </div>
  <div class='parent-grid'>
    <label>input2</label>
    <input type="text">
  </div>
  <div class='parent-grid'>
  <label>input3</label>
  <input type="text"></div>
</div>
<!-- <br> -->
<div class="container-6">
  <h3>section 4</h3>
  <div class='parent-grid'>
    <label>input content place 1</label>
    <input type="text">
  </div>
  <div class='parent-grid'>
    <label>input2</label>
    <input type="text">
  </div>
  <div class='parent-grid'>
  <label>input3</label>
  <input type="text"></div>
  <div class='parent-grid'>
    <label>input content place 1</label>
    <input type="text">
  </div>
  <div class='parent-grid'>
    <label>input2</label>
    <input type="text">
  </div>
  <div class='parent-grid'>
  <label>input3</label>
  <input type="text"></div>
  <div class='parent-grid'>
    <label>input content place 1</label>
    <input type="text">
  </div>
  <div class='parent-grid'>
    <label>input2</label>
    <input type="text">
  </div>
  <div class='parent-grid'>
  <label>input3</label>
  <input type="text"></div>

</div>

</div>
<div class="footer">
  <div class='footer-class'>contact us</div>
  <div class='footer-class'>gmail</div>
  <div class='footer-class'>youtube</div>
  <div class='footer-class'>instagram</div>
</div>